.task-list {
}
.add-todo {
	background-color: #868686;
	color: #f1f1f1;
	padding: 1rem 2rem;
	border-radius: 0.2rem;
}
.add-todo:hover {
	background-color: #5c5c5c;
}
.new-todo {
	display: flex;
	justify-content: space-between;
}
.close {
	background: #f00;
	color: #fff;
	padding: 0.2rem 0.5rem;
	border-radius: 0.2rem;
}
.close:hover {
	background: #c00000;
}
.add-btn {
	background: #00b400;
	color: #fff;
	padding: 0.2rem 1rem;
	border-radius: 0.2rem;
}
.add-btn:hover {
	background-color: #008a00;
}
.tasks {
	padding: 0.5rem 0;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}
.save {
	background: #00f;
	color: #fff;
	padding: 0.5rem 1rem;
	border-radius: 0.2rem;
	border: none;
}
.save:hover {
	background-color: #0000b1;
	cursor: pointer;
}
